.bar {
  font-family: 'Source Code Pro', monospace;
  background-color: transparent;
}

.sidestuff slider {
  all: unset;
}

.metric scale trough highlight {
  all: unset;
  background-color: #83a598;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #7c6f64;
  border-radius: 10px;
  min-height: 4px;
  min-width: 50px;
}